<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml">
    <title>{% if name %}{{ name }} – {% endif %}{{ title }}</title>
    <link href="/styles/styles.css" rel="stylesheet">
    <link href="/styles/index.css" rel="stylesheet">
</head>